//引数の値に応じたメディアクエリを返す
@mixin mq( $breakpoint: $TC_BREAKPOINT, $type: min ) {
  @media screen and ( #{$type}-width: #{$breakpoint} ) {
    @content;
  }
}

//「wrapper」ブロックのスタイル
@mixin wrapper( $type: 'padding' ) {
  @if $type == 'padding' {
    padding-right: 9.5vw;
    padding-left: 9.5vw;
  }
  @else if $type == 'margin' {
    margin-right: 9.5vw;
    margin-left: 9.5vw;
  }
}

//「heading」ブロックのスタイル
@mixin heading() {
  font-family: $LOGO_FONTS;
  font-size: 7rem;
  font-weight: normal;
  line-height: normal;
  text-align: center;

  &::before {
    content: attr(data-ruby);
    display: block;
    font-size: 1.2rem;
  }
}