header#header.header 
  #global-menu.global-menu
    p.logo.global-menu__logo 
      a.link.-no-style.logo__link(href="#hero-header") #{SITE_TITLE}

    nav.global-menu__nav
      ul.global-menu__nav-list 
        li.global-menu__nav-item(data-ruby="特徴")
          a.link.-no-style.global-menu__nav-link(href="#feature-1") Features
            
        li.global-menu__nav-item(data-ruby="メニュー")
          a.link.-no-style.global-menu__nav-link(href="#menu") Menu

        li.global-menu__nav-item(data-ruby="アクセス")
          a.link.-no-style.global-menu__nav-link(href="#access") Access

        li.global-menu__nav-item(data-ruby="店舗概要")
          a.link.-no-style.global-menu__nav-link(href="#about") About

    .global-menu__social-icon-container 
      span.social-icon.global-menu__social-icon
        include ../../../assets/images/svg/twitter-icon.svg

      span.social-icon.global-menu__social-icon
        include ../../../assets/images/svg/instagram-icon.svg
        
      span.social-icon.global-menu__social-icon
        include ../../../assets/images/svg/facebook-icon.svg

  button#menu-button.menu-button
    include ../../../assets/images/svg/menu-button.svg