.header {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -75%;
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
  width: 75%;
  z-index: 2;

  @include mq( $PC_BREAKPOINT ) {
    height: 60px;
    right: 0;
    width: 100%;
  }

  &.-active {
    transform: translateX(-100%);
  }
}