.header {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
  width: 75%;
  z-index: 1;

  @include mq( $PC_BREAKPOINT ) {
    height: 60px;
    transform: none;
    width: 100%;
  }

  &.-active {
    transform: translateX(0);
  }
}