include ./_config

doctype doctype html
html(lang="ja")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{SITE_TITLE}

  body
    include ./templates/_header

    main#main.main 
      //- ヒーローヘッダー
      #hero-header.hero-header
        .hero-header__heading 
          span.hero-header__catchcopy カラダにやさしい、森のピザ屋さん。
          h1.logo.hero-header__logo
            a.link.logo__link.-no-style(href="") #{SITE_TITLE} 

    include ./templates/_footer